<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pacote Silver</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row> 
        <h1 class="dia">15 filmes</h1>     
      </ion-row>
    </ion-grid>

    <!-- <img src="../../assets/img/madame.jpg" alt=""> -->
  </ion-content>

  <ion-footer>
    <ion-toolbar color="success">
      <ion-title>
        <h3>Agendar agora por R$139,90</h3>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
