<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pacote Bronze</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row> 
        <h1 class="dia">Para começar o dia</h1>     
          <p>Seu pet terá total atenção e carinho de nossos adestradores em uma bela piscina cheia de acessórios para brincar e muitas atividades. </p>     
          <p>Entregamos seu pet com todo carinho com um belo banho e tosa para ele se sentir bem avontade.</p>
          
      </ion-row>
    </ion-grid>

    <!-- <img src="../../assets/img/ferias.jpg" alt=""> -->
  </ion-content>

  <ion-footer>
    <ion-toolbar color="success">
      <ion-title>
        <h3>Agendar agora por R$89,90</h3>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
