  <ion-header>
    <ion-toolbar>
      <ion-title class="principal">Locadora Center-Vídeo</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <img class="imgt" src="../../assets/img/index-banner.png">
  </ion-header>

    <ion-content> 
      <ion-card class="descr">
       
      </ion-card>
    </ion-content>

      <p class="aprov">Acesse já nosso catálago de filmes e receba na sua casa!</p>
      <ion-button color="primary" (click)="catalogo()">Catálogo de filmes</ion-button>
      


 
